@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --sky-blue: #8ecae6;
  --blue-green: #219ebc;
  --prussian-blue: #023047;
  --selective-yellow: #ffb703;
  --ut-orange: #fb8500;
  --white: #fff;
  --black: #010d14;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-family: "JetBrains Mono", monospace;
  font-size: 100%;
  scroll-behavior: smooth;
  background-color: var(--prussian-blue);
}
body::-webkit-scrollbar {
  background-color: var(--sky-blue);
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--prussian-blue);
}
a {
  text-decoration: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
button {
  /* Resetting margin and padding */
  margin: 0;
  padding: 0;

  /* Resetting border styles */
  border: none;
  border-radius: 0;

  /* Resetting background and text styles */
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;

  /* Resetting other styles */
  cursor: pointer;
  outline: none;
}
h3 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
}
h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}
h1 {
  font-size: 4.5rem;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}
h2 {
  font-size: 2.3rem;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
  color: var(--sky-blue);
}
p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--white);
}
.navbar {
  width: inherit;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  margin-bottom: -125px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.menu-link {
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
.menu-link:hover {
  color: var(--selective-yellow);
}
.logo {
  width: 120px;
  height: auto;
}
.banner {
  height: 100vh;
  width: 100%;
  background-image: url("/image/banner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.btn {
  padding: 0.6em 1.8em;
  background-color: var(--ut-orange);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--prussian-blue);
}
.container-wrapper {
  width: 100%;
  padding: 6em 0;
}
.text-white {
  color: var(--white);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4em;
  text-align: center;
}
.bg-sky-blue {
  background-color: var(--sky-blue);
}
.stylis-text {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  color: var(--ut-orange);
  margin-top: 2em;
}
.maps {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 3em;
}
.map-box-wrapper {
  width: 50%;
}
.map-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2em;
  text-align: center;
  box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 2px,
    rgba(255, 255, 255, 0.07) 0px 2px 4px, rgba(255, 255, 255, 0.07) 0px 4px 8px,
    rgba(255, 255, 255, 0.07) 0px 8px 16px,
    rgba(255, 255, 255, 0.07) 0px 16px 32px,
    rgba(255, 255, 255, 0.07) 0px 32px 64px;
}
.map-box img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.map-box-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 2em;
  gap: 0.7em;
}
.map-box .map-box-body h3 {
  font-weight: 800;
  color: var(--white);
}
.map-box .map-box-body p {
  color: var(--white);
}
.social-row {
  padding: 0.3em;
  background-color: var(--selective-yellow);
}
.social-box {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 0;
}
footer {
  padding: 2em 1em;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
footer p {
  color: var(--white);
}
.endnote {
  font-size: 0.9rem;
  text-align: center;
  width: 70%;
  margin: 0;
}
.copyright {
  font-size: 1rem;
  font-weight: 900;
  margin: 0;
}
.copyright a {
  color: var(--selective-yellow);
}
